* {
  box-sizing: border-box;
}

html {
  font-size: 20px;
}

body {
  background-color: #D74B4B;
  color: #333333;
  letter-spacing: 0.75px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: sans-serif;
  text-align: center;
}

h3 {
  color: white;
}

#together-timer {
  display: block;
  width: 50%;
  margin: 0 auto;
}

#timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

.timer-element {
  font-size: 30px;
  display: inline-block;
  width: 50%;
  padding: 10px;
  text-align: center;
  margin: 5px 0;
  border-radius: 15px;
  border: 3px solid #8A2E2E;
}

.calendar-element {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #A53939;
  color: #FFFFFF;
  border: 3px solid #6C1F1F;
  border-radius: 15px;
}

.calendar-element .digit {
  font-size: 60px;
}

.calendar-element .label {
  font-size: 25px;
}

#time {
  background-color: #D1A7A7;
  color: #333333;
  border: 3px solid #ab5050;
}

#update-section {
  width: 60%;
  background-color: #8A2E2E;
  border: 3px solid #6C2323;
  border-radius: 30px;
  margin-bottom: 40px;
}

img {
  width: 350px;
  height: auto;
  border-radius: 20px;
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 16px;
  }

  #update-section {
    width: 80%;
  }

  section, p, a {
    text-align: left;
  }

  #together-timer {
    width: 80%;
  }

  .calendar-element {
    width: 70%;
  }

  #time {
    width: 70%;
    font-size: 26px;
    text-align: center;
  }

  img {
    width: 250px;
    height: auto;
  }
}
